openapi: 3.1.0
info:
  title: OpenSea Account Endpoints Chain Endpoints API
  description: The API for OpenSea
  contact:
    name: OpenSea
    url: https://www.opensea.io
    email: contact@opensea.io
  version: 2.0.0
servers:
- url: https://api.opensea.io
  description: Production server
security:
- ApiKeyAuth: []
tags:
- name: Chain Endpoints
  description: Chain endpoints to discover supported blockchains and their capabilities
paths:
  /api/v2/chains:
    get:
      tags:
      - Chain Endpoints
      summary: Get supported chains
      description: Get all supported blockchain chains with metadata including name, native currency symbol, swap support, and block explorer information.
      operationId: get_chains
      responses:
        '200':
          description: List of supported chains
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChainListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  responses:
    InternalError:
      description: Internal server error. Please open a support ticket so OpenSea can investigate.
    BadRequest:
      description: For error reasons, review the response data.
  schemas:
    ChainResponse:
      type: object
      description: Information about a supported blockchain
      properties:
        chain:
          type: string
          description: The chain identifier slug used in API paths
          example: ethereum
        name:
          type: string
          description: Human-readable chain name
          example: Ethereum
        symbol:
          type: string
          description: Native currency symbol
          example: ETH
        supports_swaps:
          type: boolean
          description: Whether token swaps are supported on this chain
        block_explorer:
          type: string
          description: Block explorer name
          example: Etherscan
        block_explorer_url:
          type: string
          description: Block explorer base URL
          example: https://etherscan.io
      required:
      - block_explorer
      - block_explorer_url
      - chain
      - name
      - supports_swaps
      - symbol
    ChainListResponse:
      type: object
      description: List of supported blockchains
      properties:
        chains:
          type: array
          description: List of supported chains
          items:
            $ref: '#/components/schemas/ChainResponse'
      required:
      - chains
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: API key required for authentication
      name: x-api-key
      in: header
x-tagGroups:
- name: Data & Discovery
  tags:
  - Chain Endpoints
  - Account Endpoints
  - Collection Endpoints
  - NFT Endpoints
  - Contract Endpoints
  - Token Endpoints
  - Search Endpoints
- name: Marketplace & Trading
  tags:
  - Listing Endpoints
  - Offer Endpoints
  - Order Endpoints
  - Swap Endpoints
  - Drops Endpoints
- name: Analytics & Events
  tags:
  - Analytics Endpoints
- name: Tools [Beta]
  tags:
  - Tool Endpoints [Beta]
- name: Transactions
  tags:
  - Transaction Endpoints
